<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<!-- Custom Styles  -->
<meta charset="ISO-8859-1"/>
<title>Largest Buildings by Usable Volume</title>
</head>
<body>

<div class="jumbotron text-center">
		<h1>Largest Buildings by Usable Volume</h1>
		<p>Listed below...</p>
</div>

	<div class="container">

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Rank</th>
					<th>Picture</th>
				</tr>
			</thead>
			<tbody>
<tr th:each="buildings : ${buildings}">
					<td th:text="${buildings.name}">New Century Global Center</td>
					<td th:text="${buildings.rank}">1</td>
					<td><img src="../static/1_Aalsmeer Flower Auction.jpg"
						th:src="@{/} + ${buildings.picture}" width="150" height="100" /></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>