<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

<title th:text="${pageTitle}">Editing Page</title>
</head>

<body>
	<div class="jumbotron text-center">

		<h1 th:text="${title}">Editing Page</h1>
		<br />
	</div>

	<div class="container">

		<form class="form-horizontal" th:action="@{/passenger/save}"
			th:object="${passenger}" method="post">

			<input type="hidden" th:field="${passenger.passengerId}" />

			<div class="form-group is-invalid"
				th:classappend="${#fields.hasErrors('PassengerId')}? 'has-error'">
				<label class="col-md-2">PassengerId</label>
				<div class="col-md-10 control-label">
					<input type="text" class="form-control"
						th:field="${passenger.passengerId}" /> <span
						th:if="${#fields.hasErrors('passengerId')}"
						th:errors="*{passengerId}" th:class="help-block">PassengerId
						Errors</span>
				</div>
			</div>
			<br />
			<div class="form-group is-invalid"
				th:classappend="${#fields.hasErrors('name')}? 'is-invalid'">
				<label class="col-md-2" placeholder="Name">Passenger</label>
				<div class="col-md-10">
					<input type="text" class="form-control" th:field="${passenger.name}" />
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
						th:class="help-block">Name Errors</span>

				</div>
			</div>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>Passengers</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>PassengerId</td>
						<td><input type="text" class="form-control"
							th:field="${passenger.passengerId}" /></td>
					</tr>
					<tr>
						<td>Survived</td>
						<td><input type="text" class="form-control"
							th:field="${passenger.survived}" /></td>
					</tr>
					<tr>
						<td>Pclass</td>
						<td><input type="text" class="form-control"
							th:field="${passenger.pclass}" /></td>
					</tr>
					<tr>
						<td>Name</td>
						<td><input type="text" class="form-control"
							th:field="${passenger.name}" /></td>
					</tr>
					<tr>
						<td>Sex</td>
						<td><input type="text" class="form-control"
							th:field="${passenger.sex}" /></td>
					</tr>
					<tr>
						<td>Age</td>
						<td><input type="text" class="form-control"
							th:field="${passenger.age}" /></td>
					</tr>
					<tr>
						<td>SibSp</td>
						<td><input type="text" class="form-control"
							th:field="${passenger.sibsp}" /></td>
					</tr>
					<tr>
						<td>Parch</td>
						<td><input type="text" class="form-control"
							th:field="${passenger.parch}" /></td>
					</tr>
					<tr>
						<td>Ticket</td>
						<td><input type="text" class="form-control"
							th:field="${passenger.ticket}" /></td>
					</tr>
					<tr>
						<td>Fare</td>
						<td><input type="text" class="form-control"
							th:field="${passenger.fare}" /></td>
					</tr>
					<tr>
						<td>Cabin</td>
						<td><input type="text" class="form-control"
							th:field="${passenger.cabin}" /></td>
					</tr>
					<tr>
						<td>Embarked</td>
						<td><input type="text" class="form-control"
							th:field="${passenger.embarked}" /></td>
					</tr>
				</tbody>
			</table>
			<button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</body>
</html>