<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

<title th:text="${pageTitle}">Titanic Database</title>
</head>

<body>

	<nav th:replace="layouts/nav :: navFragment"></nav>
	<div class="jumbotron text-center">

		<h1>Titanic Database</h1>
		<h2></h2>
		<br />

	</div>

	<div class="container">

		<p>
			<a href="/passengers/">List of Passengers</a>
		</p>

	</div>

</body>
</html>